{
	servicesSetup:'Uize.Build.ServicesSetup',
	sourcePath:'source',
	uizePath:'../UIZE-JavaScript-Framework/site-source',
	modulesFolder:'js',
	folderOrgNamespaces:[
		'Loki'
	],
	moduleConfigs:{
		'Uize.Build.Loc':{
			workingFolder:'loc',
			common:{
				languages:[],
				brandLanguages:{
					1210:['en-US'],          // RingCentral
					3420:['en-US'],          // AT&T
					3610:['en-US','fr-CA'],  // RC Canada
					3710:['en-GB'],          // RC UK
					3810:['en-US'],          // ClearWire
					7310:['en-US','fr-CA'],  // TELUS
					7710:['en-GB'],          // BT
					8510:['en-US']           // T-Mobile
				},
				primaryLanguage:'en-US',
				pseudoLocale:'en-ZZ',
				pseudoLocalization:{
					expansion:1.15
				},
				translationJobFileFormat:'xliff' // csv | xliff
			},
			projects:{
				ServiceWeb:{
					serviceAdapter:'Loki.LocServiceAdapters.ServiceWeb',
					rootFolderPath:'../hg/sw/web/src/desktop',
					resourceFileWhitespace:{
						indentChars:'    ',
						linebreakChars:'\n'
					},
					skipEmptyValues:true,
					plurals:true
				},
				ServiceWebJedi:{
					serviceAdapter:'Loki.LocServiceAdapters.ServiceWebJedi',
					rootFolderPath:'../svn/rc/amarosa_trunk/JEDI/localStorage/rc-web/dictionaries',
					codeFolderPath:'../svn/rc/amarosa_trunk/JEDI',
					skipEmptyValues:true
				},
				ServiceWebHtmlTemplates:{
					serviceAdapter:'Loki.LocServiceAdapters.ServiceWebHtmlTemplates',
					rootFolderPath:'../hg/sw/web/src/desktop',
					pseudoLocalization:{
						wrapper:''
					}
				},
				MicRecorder:{
					serviceAdapter:'Loki.LocServiceAdapters.MicRecorder',
					rootFolderPath:'../hg/sw/web/player/com/ringcentral/i18n',
					resourceFileWhitespace:{
						indentChars:'    ',
						linebreakChars:'\n'
					}
				},
				MobileWeb:{
					serviceAdapter:'Loki.LocServiceAdapters.MobileWeb',
					rootFolderPath:'../hg/sw/web/src/mobile/core/js/src',
					resourceFileWhitespace:{
						indentChars:'    ',
						linebreakChars:'\n'
					},
 					skipEmptyValues:true,
					plurals:true
				},
				AdminWeb:{
					serviceAdapter:'Loki.LocServiceAdapters.AdminWeb',
					rootFolderPath:'../git-repos/admin-web',
					resourceFileWhitespace:{
						linebreakChars:'\r\n'
					},
					resourceFileEncoding:'ucs2'
				},
				AWP: {
                    serviceAdapter: "Loki.LocServiceAdapters.AWP",
                    rootFolderPath: "../svn/rc/amarosa_trunk/Vportal/WEB/WebAdminSSO/web/resources/js"
                },
				MobileIos:{
					serviceAdapter:'Loki.LocServiceAdapters.MobileIos',
					rootFolderPath:'../git-ods/rc-ios'
				},
				MobileIosJs:{
					serviceAdapter:'Loki.LocServiceAdapters.MobileIosJs',
					rootFolderPath:'../git-ods/rc-ios',
					resourceFileEncoding:'ucs2'
				},
				MobileAndroid:{
					serviceAdapter:'Loki.LocServiceAdapters.MobileAndroid',
					rootFolderPath:'../git-ods/rc-android/app/src/main/res',
					codeFolderPath:'../git-ods/rc-android/app/src/main',
					resourceFileWhitespace:{
						indentChars:'    ',
						linebreakChars:'\n'
					},
					plurals:true
				},
				CloudCti:{
					serviceAdapter:'Loki.LocServiceAdapters.CloudCti',
					rootFolderPath:'../svn/rc/simplion-opencti-0a0e6250af6b/js/lang'
				},
				GwFunnels:{
					serviceAdapter:'Loki.LocServiceAdapters.GwFunnels',
					rootFolderPath:'../git-ods/funnels'
				},
				SoftPhone:{
					serviceAdapter:'Loki.LocServiceAdapters.SoftPhone',
					rootFolderPath:'../git-ods/spartanSoftphone/modanoProj/tr'
				},
				Prompts:{
					serviceAdapter:'Loki.LocServiceAdapters.Prompts',
					rootFolderPath:'../svn/rc/amarosa_trunk/Vportal/Telephony/crossplatform/pts/pts_lib',
					languages:['en-US','fr-CA','ru-RU']
				},
				GoogleChrome:{
					serviceAdapter:'Loki.LocServiceAdapters.GoogleChrome',
					rootFolderPath:'../github/googlechrome/web/app/i18n'
				},
				EmailTemplates:{
					serviceAdapter:'Loki.LocServiceAdapters.EmailTemplates',
					rootFolderPath:'../email-templates',
					pseudoLocalization:{
						wrapper:''
					},
					tokens:{
						AccountFullNumber: {
							value: ''
						},
						AccountNumber: {
							value: ''
						},
						Address: {
							value: ''
						},
						Admin_FirstName: {
							value: ''
						},
						Admin_LastName: {
							value: ''
						},
						BrandDisplayName: {
							value: ''
						},
						CCState: {
							value: ''
						},
						CallerNamePhone: {
							value: ''
						},
						CfnaPhone: {
							value: ''
						},
						City: {
							value: ''
						},
						CopyRightYear: {
							value: ''
						},
						CurrentYear: {
							value: ''
						},
						CustomerServiceNumberEmail: {
							value: ''
						},
						CustomerSupportNumber3: {
							value: ''
						},
						Dear: {
							value: ''
						},
						DefaultMinutes: {
							value: ''
						},
						DepartmentName: {
							value: ''
						},
						DisplayName: {
							value: ''
						},
						Extension: {
							value: ''
						},
						FOCDate: {
							value: ''
						},
						FaxPages: {
							value: ''
						},
						FileName: {
							value: ''
						},
						FirstName: {
							value: ''
						},
						FullName: {
							value: ''
						},
						LastName: {
							value: ''
						},
						LoginLink: {
							value: ''
						},
						LoginURL: {
							value: ''
						},
						MainNumber: {
							value: ''
						},
						MessageHTML: {
							value: ''
						},
						PIN: {
							value: ''
						},
						Pages: {
							value: ''
						},
						PasswordResetLink: {
							value: ''
						},
						Period: {
							value: ''
						},
						PhoneNumber: {
							value: ''
						},
						PortedOrderNumber: {
							value: ''
						},
						PortingContact: {
							value: ''
						},
						PortingPhoneContact: {
							value: ''
						},
						RenderingResult: {
							value: ''
						},
						ResetPasswordURL: {
							value: ''
						},
						Result: {
							value: ''
						},
						SSWebUrl: {
							value: ''
						},
						SalutationName: {
							value: ''
						},
						SendingDateTime: {
							value: ''
						},
						ServiceURL: {
							value: ''
						},
						ShippingCo: {
							value: ''
						},
						ShippingNo: {
							value: ''
						},
						Status: {
							value: ''
						},
						SupportInfo01: {
							value: ''
						},
						SupportPhoneNumber: {
							value: ''
						},
						SupportPhoneNumber2: {
							value: '123456789'
						},
						TierName: {
							value: ''
						},
						ToName: {
							value: ''
						},
						TrackingNo: {
							value: ''
						},
						TrackingURL: {
							value: ''
						},
						UserName: {
							value: ''
						},
						Zip: {
							value: ''
						},
						banner01: {
							value: ''
						},
						color01: {
							value: ''
						},
						picture13: {
							value: ''
						}
					}
				}
			}
		},
		'Loki.Build.PluralsModules':{
			cldrPluralsPath:'source/js/Loki/Build/plurals.json',
			projects:{
				ServiceWeb:{
					pluralModulePathTemplate:'source/js/Loki/Build/PluralsModules/ServiceWebPluralsModulePathTemplate.jst',
					pluralModuleTemplate:'source/js/Loki/Build/PluralsModules/ServiceWebPluralsModuleTemplate.jst'
				},
				MobileWeb:{
					pluralModulePathTemplate:'source/js/Loki/Build/PluralsModules/MobileWebPluralsModulePathTemplate.jst',
					pluralModuleTemplate:'source/js/Loki/Build/PluralsModules/MobileWebPluralsModuleTemplate.jst'
				}
			}
		},
		'Uize.Build.Search':{
			presets:{
				i18nFormatDate:{
					pathMatcher:/\.js$/,
					matcher:/formatDateTime.+MMMM[^'"]+['"]/
				},
				i18nAlert:{
					pathMatcher:/\.js$/,
					matcher:/[^\/]alert\s*\(('[^']+'|"[^"]+")/,
					pathFilter:/(^|\/)rclibtest\/|test/
				},
				i18nButtonLabel:{
					pathMatcher:/\.js$/,
					matcher:/text\s*:\s('[^']+'|"[^"]+")/,
					pathFilter:/(^|\/)rclibtest\//,
					description:
						'reveals likely cases of inline (non-externalized) strings, particularly in cases where labels are being provided for buttons'
				},
				i18nConcatenation:{
					pathMatcher:/\/(en|lang)(-\d+)?\.js$/,
					matcher:/([:\+]\s*)(RC\.Config(?:\.\w+)+|RC\.Lang(?:\.\w+)+(?:\.[A-Z\d]+(?:_[A-Z\d]+)*))\b/
				},
				i18nHtml:{
					pathMatcher:/\.js$/,
					pathFilter:[
						/\/((en|lang|en_GB|fr_CA|en_ZZ)(-\d+)?|omniture)\.js$/,
						/(^|\/)rclibtest\//
					],
					matcher:/<\w[^<>\n\r]*>\s*\w+(\s+\w+)*\b|\b(\w+\s+)*\w+\s*<\/?\w+>/
				},
				i18nStringsWithHtml:{
					pathMatcher:/\/(en|lang)(-\d+)?\.js$/,
					matcher:/[A-Z]+(_[A-Z]+)*\s*:\s*.+?<\w[^<>\n\r]*>/
				},
				i18nLinksInStrings:{
					pathMatcher:/\/(en|lang)(-\d+)?\.js$/,
					matcher:/https?:\/\//
				},
				i18nTitleProperty:{
					pathMatcher:/\.js$/,
					pathFilter:/(^|\/)rclibtest\//,
					matcher:/title\s*:\s('[^']+'|"[^"]+")/
				},
				i18nStyleInResources:{
					pathMatcher:/\/(en|lang)(-\d+)?\.js$/,
					matcher:/style=('[^']+'|"[^"]+")/
				},
				i18nResourceConcat:{
					pathMatcher:/\.js$/,
					pathFilter:/(^|\/)rclibtest\//,
					matcher:/(\w'|\w)\s*\+\s*RC\.Lang\.(\w+\.)+?[A-Z]+(_[A-Z]+)*\b|\bRC\.Lang\.(\w+\.)+?[A-Z]+(_[A-Z]+)*\s*\+\s*(\w'|\w)/,
					description:'reveals instances of resource string concatenation expressions (most matches are cases of concatenation of resource strings with HTML-containing string literals, while a very few cases have possible grammar implications)'
				},
				i18nParensSPlural:{
					pathMatcher:/\/(en|lang)(-\d+)?\.js$/,
					matcher:/\b\w+\(s\)/
				},
				i18nPluralUsers:{
					pathMatcher:/\/(en|lang)(-\d+)?\.js$/,
					matcher:/\{\d+\}\s+Users/i
				},
				i18nPluralVariant:{
					pathMatcher:/\/(en|lang)(-\d+)?\.js$/,
					matcher:/_PLURAL/
				},
				i18nLinkedFragments:{
					pathMatcher:/\/(en|lang)(-\d+)?\.js$/,
					matcher:/<a\s.+?>[a-z0-9][^\/@]*?<\/a>/
				},
				i18nLinkedClickHere:{
					pathMatcher:/\/(en|lang)(-\d+)?\.js$/,
					matcher:/<a\s.+?>\s*(click|here|click\s+here)\s*<\/a>/i
				},
				i18nNumberedTokens:{
					pathMatcher:/\/(en|lang)(-\d+)?\.js$/,
					matcher:/\{\d+\}/i
				},
				commentedOutCode:{
					pathMatcher:/\.js$/,
					matcher:/\/\*[^\*].*?[\{\}:;].*?\*\/|(\s*\/\/.*\r?\n)*\/\/.*?[\{\}:;].*\r?\n(\s*\/\/.*\r?\n)*|\/\/.*?[\{\}:;].*/
				},
				nakedAlerts:{
					pathMatcher:/\.js$/,
					pathFilter:/(^|\/)rclibtest\//,
					matcher:/[\s\{]alert\s*\(/
				},
				wastefulRcUiMessageCalls:{
					pathMatcher:/\.js$/,
					matcher:/RC\.UI\.Message\(('[^']+'|"[^"]+")\)/,
					description:'reveals cases of calling RC.UI.Message with just a resource string, which is pointless and adds wasteful extra code and function calls'
					/*
						NOTE: instances like this could be easily modified using a regular expression search-and-replace...
							find: RC\.UI\.Message\((\w+(\.\w+)*)\)
							replace: $1
					*/
				},
				wastefulPushCalls:{
					pathMatcher:/\.js$/,
					matcher:/\r?\n\s+([^\.]+)\.push\s*\(.+\r?\n(\s+\1\.push\s*\(.+\r?\n)+/,
					description:'reveals cases of wasteful, multi-line array push calls, which are unnecessaryu as the push method supports an arbitrary number of arguments'
				},
				innerHTML:{
					pathMatcher:/\.js$/,
					matcher:/\.innerHTML\s*=/,
					description:'innerHTML replacement'
				}
			}
		}
	}
}

